.authors {
	overflow: hidden;
	height: 100px;
	width: calc(100% - 40px);
	max-width: 1200px;
	position: relative;
	margin: 20px auto;
}

.authors .scroll {
	display: flex;
	overflow: auto;
	padding-bottom: 100px; /* para ocultar el scroll en mobil */
}

.authors .scroll a:last-child { margin: 0; }

.authors img {
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 50%;
	border: solid 2px var(--colorC);
	vertical-align: top;
}

.authors a {
	color: var(--colorC);
	text-decoration: none;
}

.authors span {
	padding-left: 10px;
	display: block;
	width: 100%;
	font-size: 16px;
	font-family: 'Poppins', 'Valera Round', Arial, Helvetica, sans-serif;
	font-style: italic;
}

.authors .user_data {
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.author .name {
	font-size: 20px;
	line-height: 25px;
}

.author {
	min-width: max-content;
	width: max-content;
	background-color: var(--colorB);
	border-radius: 7px;
	margin-right: 20px;
	display: flex;
	padding: 10px 10px;
}




/* --- --- --- buttons --- --- --- */

.authors button {
	border: none;
	position: absolute;
	height: 100px;
	padding: 0 14px;
	background: linear-gradient(90deg, #2B4162, rgba(43, 65, 98, 0));
	width: 50px;
}

#\$btn_authors_right {
	right: 0;
	background: linear-gradient(270deg, #2B4162, rgba(43, 65, 98, 0));
}

.i_left_row { content: url('/img/ico/left_row.svg'); }
.i_right_row { content: url('/img/ico/right_row.svg'); }
.i_left_row, .i_right_row {
	height: 26px;
	max-width: 26px;
	cursor: pointer;
}




.disappear { animation: animationDisappear 1.3s forwards; }

@keyframes animationDisappear {
	99% {
		opacity: 0;
		transform: translateY(0);
	}
	100% { transform: translateY(100px); }
}