.presentation {
	padding: 20px;
	background-color: var(--colorA);
	color: var(--colorC);
	text-align: center;
	padding: 80px 10px 60px 10px;
}

.presentation .img_author {
	object-fit: cover;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	border: 2px solid var(--colorC);
	vertical-align: top;
}

#\$img_err {
	display: none;
	font-style: italic;
	max-width: 70%;
}

.presentation [type=file] {
	display: none;
}

.presentation h1 {
	margin: 15px 0 5px 0;
}

.presentation h2 {
	font-size: 20px;
}




/* --- --- --- form --- --- --- */

/*
.presentation form > * {
	display: block;
	width: 100%;
}
*/

.presentation form input {
	border: 1px solid var(--colorC);
	border-right: none;
	border-radius: 7px 0 0 7px;
	font-size: 16px;
	background-color: transparent;
	color: var(--colorC);
	outline: none;
	padding: 7px 14px;
}

.presentation form [type=submit] {
	background-color: var(--colorB);
	cursor: pointer;
	border: 1px solid var(--colorC);
	border-left: none;
	border-radius: 0 7px 7px 0;
	height: 36px;
	padding: 0 13px;
}




@media screen and ( min-width: 720px ) {
	.presentation h1 {
		font-size: 35px;
	}

	.presentation h2 {
		font-size: 25px;
	}
}