@import url('./view_img.css');

.presentation [type=file] {
	display: none;
}




/* --- --- --- background --- --- --- */

.presentation {
	position: relative;
	padding: 50px 20px;
	cursor: pointer;
}

.presentation #\$presentation_background {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	filter: brightness(63%);
}




/* --- ---- --- img profile --- --- --- */

.img_profile {
	width: max-content;
	margin: auto;
	position: relative;
	box-shadow: 0 0 132px #444;
	border-radius: 50%;
}

.presentation #\$imgProfile {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 50%;
}

.presentation .img_profile label {
	background-color: var(--colorB);
	display: flex;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: absolute;
	bottom: 6px;
	right: 6px;
	transition: all .3s ease;
}

.presentation .img_profile label:hover {
	transform: rotate(10deg);
}
.presentation .img_background label:hover {
	transform: rotate(6deg);
}




/* --- --- --- text --- --- --- */

.presentation {
	color: var(--colorC);
}

.presentation h1,
.presentation h2 {
	display: inline;
	margin-right: 7px;
	text-shadow:
		0 0 20px black,
		0 0 120px black
	;
	position: relative;
	z-index: 2;
	cursor: text;
}

.presentation .user_name {
	margin: 15px auto 5px auto;
}

.presentation .user_name,
.presentation .user_job {
	text-align: center;
}

.presentation h2 {
	font-size: 20px;
}




/* --- --- --- form --- --- --- */

.presentation form {
	background-color: var(--colorC);
	max-width: 300px;
	margin: auto;
	border-radius: 7px;
}

.presentation form [type=text] {
	border: none;
	border-bottom: 1px solid var(--colorB);
	background-color: transparent;
	display: block;
	outline: none;
	width: calc(100% - 40px);
	margin: 0 auto 20px auto;
	padding: 27px 14px 7px 14px;
	color: var(--colorB);
}

.presentation form .submit {
	display: flex;
	flex-direction: row-reverse;
}

.presentation form [type=submit] {
	width: 100%;
	border: none;
	font-weight: 700;
	cursor: pointer;
	padding: 7px 0;
}

.presentation form button[type=submit] {
	background-color: var(--colorC);
	border-radius: 0 0 0 7px;
}

.presentation form input[type=submit] {
	background-color: var(--colorB);
	color: var(--colorC);
	border-radius: 0 0 7px 0;
}

.presentation .i_edit {
	height: 20px;
}

.presentation form [type=submit] span {
	font-weight: 700;
	color: var(--colorA);
	font-size: 16px;
}

/* Show only edit */

.presentation form input,
.presentation form input[type=text] {
	display: none;
}

.minimum {
	background-color: transparent !important;
	display: inline !important;
	width: min-content !important;
}




/* --- --- btn background --- --- */

.presentation .img_background {
	width: 900px;
	margin: auto;
	display: flex;
	justify-content: flex-end;
}

.presentation .img_background label {
	background-color: var(--colorB);
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	width: max-content;
	padding: 10px;
	border-radius: 7px;
	cursor: pointer;
	transition: all .3s ease;
}

.presentation .img_background img {
	margin-right: 7px;
}

@media screen and ( max-width: 1000px ) {
	.presentation .img_background { width: 580px; }
}

@media screen and ( max-width: 679px ) {
	.presentation .img_background {
		max-width: 280px;
		width: calc(100% + 10px);
	}
}




@media screen and ( min-width: 720px ) {
	.presentation #\$imgProfile {
		width: 190px;
		height: 190px;
	}

	.presentation #\$presentation_background {
		filter: brightness(72%);
	}

	.presentation .img_profile label {
		bottom: 10px;
		right: 10px;
	}

	.presentation h1 {
		font-size: 35px;
	}

	.presentation h2 {
		font-size: 25px;
	}
}