.view_img {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient( ellipse at center, #2b4162c6 30%, #192539 70%, #131B2B );
	z-index: 100;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.view_img div {
	position: relative;
	top: 13px;
	width: 90%;
}

.view_img img {
	width: 100%;
	vertical-align: top;
	position: absolute;
	filter: blur(40px);
}

.view_img img:last-child {
	position: relative;
	filter: none;
	border-radius: 7px;
}

.view_img button {
	background-color: var(--colorB);
	color: var(--colorC);
	border: none;
	border-radius: 7px;
	padding: 8px 13px;
	font-family: 'Varela Round', Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 700;
	position: relative;
	top: -5px;
	cursor: pointer;
	transition: all .3s ease;
}

.view_img button:hover {
	background-color: #298254;
	text-shadow:
		0 0 40px var(--colorC),
		0 0 40px var(--colorC)
	;
}