<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Iniciar Sesion</title>
		<link rel="stylesheet" href="css/iniciar_sesion.css">
		<link rel="shorcut icon" type="image/x-icon" href="css/img/ico.svg">
	</head>
	<body>
		<form method="POST">
			<input type="email" name="email" placeholder="Email" autofocus required>
			<input type="password" name="pass" placeholder="Contraseña" required>
			<% if (error) { %>
				<p><%= error %></p>
			<% } %>
			<input type="submit" value="Iniciar">
		</form>
	</body>
</html>