<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Iniciar Sesion</title>
		<link rel="stylesheet" href="css/log_in.css">
		<link rel="shorcut icon" type="image/x-icon" href="css/img/ico.svg">
	</head>
	<body>
		<h1>Iniciar sesión</h1>
		<form method="POST">
			<input type="text" name="name" placeholder="Nombre de usuario" autofocus required>
			<input type="password" name="pass" placeholder="Contraseña" required>
			<% if (error) { %>
				<p><%= error %></p>
			<% } %>
			<input type="submit" value="Iniciar">
		</form>
		<div class="link">
			<a href="/sign_in">Registrarme</a>
		</div>
	</body>
</html>