:root {
	--colorA: #2B4162;
	--colorB: #307351;
	--colorC: #F6F0ED;
	--colorD: #370C06;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body { margin-top: 45px; }




/* math */

.parent-katex-display {
	max-width: 700px;
	width: 100%;
	display: block;
	margin: auto;
	overflow-y: auto;
}