@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:ital,wght@0,500;0,600;1,500;1,600&family=Varela+Round&display=swap');

/*
Orelega One
Anton
Philosopher
Gabriela
Abril Fatface
Roboto Slab
Lobster Two
Arimo
*/

:root {
	--colorA: #2B4162;
	--colorB: #307351;
	--colorC: #F6F0ED;
	--colorD: #370C06;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Varela Round', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-style: normal;
}

*::selection {
	background-color: var(--colorB);
	color: var(--colorC);
	text-shadow: none;
}

body::-webkit-scrollbar { background-color: #24334C; }
body::-webkit-scrollbar-thumb { background-color: #798292; }
body::-webkit-scrollbar-thumb:hover { background-color: #66657F; }
body::-webkit-scrollbar-thumb:active { background-color: #454e5d; }

h1, h2, h3,
h1 a, h2 a, h3 a {
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-style: italic;
}

/*
h1::first-letter, h2::first-letter, h3::first-letter,
h1 a::first-letter, h2 a::first-letter, h3 a::first-letter {
	font-family: 'Pattaya';
	font-weight: bold;
	letter-spacing: .5px;
	font-style: normal;
}
*/

input { font-size: 16px; }
[type=submit] {
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	font-weight: 500;
}

body {
	margin-top: 45px;
	background-color: var(--colorA);
}

.i_edit {
	content: url('/img/ico/new.svg');
	display: inline-block;
}

/*
body { margin-top: 44px; }
*/




/* math */

/*
.parent-katex-display {
	max-width: 700px;
	width: 100%;
	display: block;
	margin: auto;
	overflow-y: auto;
}
*/

.katex-display {
	overflow: auto;
	padding: 15px 0;
}




iframe {
	display: block;
	margin: auto;
	max-width: 700px;
	width: 100%;
}




.tremble {animation: tremble .2s linear 2;}
@keyframes tremble {
	25% {transform: rotate(-3deg);}
	75% {transform: rotate(3deg);}
	100% {transform: rotate(0);}
}