<link rel="stylesheet" href="/css/components/nav.css">

<nav>
	<div class="center_nav">
		<div class="new" id="$new">
			<a href="">
				<i class="i_new"></i>
			</a>
		</div>
		<form>
			<button id="$btn_return">
				<i class="i_return"></i>
			</button>
			<input type="search" id="$search" placeholder="Buscar">
			<button id="$btn_search">
				<i class="i_search"></i>
			</button>
		</form>
		<div class="options" id="$options">
			<a href="">
				<i class="i_user">O</i>
			</a>
			<a href="/log_in">Salir</a>
		</div>
	</div>
</nav>

<script src="/js/nav.js"></script>