<link rel="stylesheet" href="/css/components/posts.css">
<link rel="stylesheet" href="/css/components/user_result.css">

<div class="posts">
	<div class="column_posts">
		<%
		let users
		if (posts.posts) {
			users = posts.users
			posts = posts.posts
		}
		if (users) { for(let user of users) { %>
			<%- include('user_miniature', {user}) %>
		<% }} %>
		<% for (let post of posts) { %>
			<%- include('post_miniature', {post}) %>
		<% } %>
	</div>
	<div class="column_posts"></div>
	<div class="column_posts"></div>
</div>

<script src="/js/posts.js"></script>