<link rel="stylesheet" href="/css/components/presentation.css">

<section class="presentation">
	<label for="$file_img_profile">
		<%# if (user.profile_img) { %>
			<img
				id="$imgProfile"
				src="/uploads_img/<%= user.profile_img %>"
				alt="<%= user.name %>"
				class="img_author"
			>
		<%# } %>
	</label>
	<% if (user.is_author) { %>
		<p id="$img_err"></p>
		<input type="file" id="$file_img_profile">
	<% } %>
	<h1 class="editable" id="$name"><%= user.name %></h1>
	<% if (user.job) { %>
		<h2 class="editable" id="$job"><%= user.job %></h2>
	<% } %>
</section>

<% if (user.is_author) { %>
	<script src="/js/img_author.js" type="module"></script>
<% } %>