<link rel="stylesheet" href="/css/components/presentation.css">

<section class="presentation">
	<img id="$imgProfile" src="/img/Miguel.png" alt="Miguel Ángel Hurtado Benavides" class="img_author">
	<h1>Miguel Ángel Hurtado Benavides</h1>
	<h2>Profesor de Matemáticas</h2>
</section>