<link rel="stylesheet" href="/css/components/social_networks.css">

<section class="social_networks" id="$ontact">
	<a href="https://www.youtube.com/channel/UCb636cFJPna9RYNgfPM2R7Q/videos" target="_black">YouTube</a>
	<a href="https://www.facebook.com/miguel.hurtado.3110" target="_black">facebook</a>
</section>