<link rel="stylesheet" href="/css/components/suggestions.css">

<section class="suggestions" id="$suggestions">
	<h2>Quizá te interese <span class="normal">😊😉</span></h2>
	<div>
		<article class="suggestion">
			<a href=""><img src="/img/img_miniature_default.jpg" alt="a"></a>
			<h2><a href="">Title Publication</a></h2>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae nesciunt maxime est perspiciatis, eius omnis veniam fugit itaque consectetur. Ipsum sequi quisquam corrupti a explicabo inventore tempora saepe dignissimos odit.</p>
		</article>
		<article class="suggestion">
			<a href=""><img src="/img/img_miniature_default.jpg" alt="a"></a>
			<h2><a href="">Title Publication</a></h2>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae nesciunt maxime est perspiciatis, eius omnis veniam fugit itaque consectetur. Ipsum sequi quisquam corrupti a explicabo inventore tempora saepe dignissimos odit.</p>
		</article>
		<article class="suggestion">
			<a href=""><img src="/img/img_miniature_default.jpg" alt="a"></a>
			<h2><a href="">Title Publication</a></h2>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae nesciunt maxime est perspiciatis, eius omnis veniam fugit itaque consectetur. Ipsum sequi quisquam corrupti a explicabo inventore tempora saepe dignissimos odit.</p>
		</article>
	</div>
</section>